/*This is my 201 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is YOUR NAME GOES HERE and this is the beginning of my CONTACT PAGE CSS for 318 Digital Typography November 2019 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background changed from solid cream color to grid image */
  background: url(images/background.jpg);
	
	
}

.center {
    width: 800px;
	padding: 2%;
	border-radius: 2ß0px;
    margin: 100px auto;
 	background: rgba(245, 255, 227, 0.75); /*this uses opacity of 75% for the background color*/
	text-align: center;
}


   
#logo {
    margin-bottom: 0px;
	text-align: center;
}



h1 {
	/* changed front from garamond to rustica; changed font color to green */
	font-family: rustica, sans-serif;
	font-size: 2.0em;
	font-weight: 700;
	font-style: normal;
	margin-top: 25px;
	margin-bottom: 14px;
	color: #c1dfa6;
    /* color: #fffef1; */
}

h2 {
	/* changed front from garamond to rustica; changed font color to green */
	font-family: rustica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.3em;
    margin: 15px;
	color: #b5d19c;
}

p {
	/* added p */
	font-family: rustica, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.1em;
    margin: 2px auto 10px auto;
	color: #a9c490;
}
    
    nav{
		font-family: arial;
		font-size: 1.2em;
    	margin: 0px auto;
		text-align: center;
		margin-top: 1em;
	}

	nav li{
		display:inline
	}

	nav a{
		display:inline-block;
		padding: 10px;
		margin-bottom: 4px;
	}

	a{
		color: #AEC995;
		text-decoration: none;
		font-weight: bold;
	}

	a:hover{
		/* changed hover colors */
		color:rgba(245, 255, 227);
		background: #AEC995;
	}



